{% extends 'base.html.twig' %}

{% block title %}CN OpenAI{% endblock %}

{% block body %}


<div id="messages">
</div>

<form method="POST" action="api/gpt" id="message-form">
    <textarea name="message[content]" id="content" cols="30" rows="10"></textarea>
    <input type="hidden" name="message[_token]" id="token">
    <button type="submit" id="sub-btn">Envoyer</button>
</form>

{% endblock %}