:root {
    --color-one: rgb(27, 38, 44);
    --color-two: rgb(15, 76, 117);
    --color-three: rgb(50, 130, 184);
    /* --color-four: rgb(187, 225, 250); */
    --color-four: rgb(225, 225, 250);
    --color-red: #DD4A48;
    --color-green: #B6E388;
}

body {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    margin: 0;
    background-color: var(--color-one);
    color: var(--color-four);
    font-family: 'AR One Sans', sans-serif;
}

#chat-title {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-four);
    animation: pop-modal 0.6s ease-out;
}

#title-text {
    font-size: 140%;
    margin-left: 0.2rem;
    font-family: unset;
}

#chat-title img {
    height: 65%;
}

#settings-btn {
    background-color: transparent;
    border: none;
    outline: none;
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    right: 30px;
    cursor: pointer;
    top: 1.5vh
}

#settings-icon {
    height: 1.4rem;
    fill: var(--color-four);
    align-self: center;
}

.modal-container {
    display: none;
    z-index: 7;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    animation: opacity 0.6s ease-out;
}

.modal {
    background-color: var(--color-one);
    border: 1px solid var(--color-four);
    width: 500px;
    border-radius: 10px;
    animation: pop-modal 0.6s ease-out;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-four);
}

.title-container {
    display: flex;
}

.title-container svg {
    margin-left: 20px;
}

.modal-header .title-container p {
    font-size: large;
    font-weight: 500;
    margin-left: 10px;
}

.close-modal-btn {
    cursor: pointer;
    margin-top: 10px;
    fill: var(--color-four);
    font-size: 16px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

.close-modal-btn:hover {
    fill: var(--color-red);
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}

.modal-body label {
    font-size: 16px;
    margin: 10px 20px;
}

#model-select {
    margin: 0px 20px;
    background-color: transparent;
    color: var(--color-four);
    border: 1px solid var(--color-four);
    border-radius: 5px;
    padding: 6px;
    font-family: unset;
}

#model-select option {
    background-color: var(--color-one);
}

#context-limit-input {
    background-color: transparent;
    color: var(--color-four);
    border-bottom: 1px solid var(--color-four);
    border-top: 1px solid var(--color-four);
    padding: 7px;
    font-family: unset;
    outline: none;
    text-align: center;
    width: 60px;
}

#context-limit-input-minus,
#context-limit-input-plus {
    background-color: transparent;
    color: var(--color-four);
    border: 1px solid var(--color-four);
    height: 34px;
    cursor: pointer;
    font-size: 24px;
    vertical-align: middle;
}

#context-limit-input-minus {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 20px;
    margin-right: -5px;
}

#context-limit-input-minus:hover {
border-color: var(--color-red);
color: var(--color-red);
}

#context-limit-input-plus {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -5px;
}

#context-limit-input-plus:hover {
    border-color: var(--color-green);
    color: var(--color-green);
    }

.textarea-container {
    border-radius: 5px;
    border: 1px solid var(--color-four);
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
}

#system-msg-input {
    resize: none;
    background-color: transparent;
    color: unset;
    outline: none;
    font-family: unset;
    overflow-x: auto;
    margin: 10px;
    width: 100%;
    border: none;
    overflow-y: auto;
}

.modal-body .hint {
    margin: 0px 20px;
    margin-top: 3px;
    font-size: small;
}

.modal-body .hint .hint-first-word {
    font-weight: 700;
}

.modal-body .hint .hidden-hint-text {
    display: none;
    margin-bottom: 20px;
    animation: fill 0.6s;
    animation-iteration-count: 1;
    overflow: hidden;
}

.show-hint-btn {
    margin: 10px 0px;
    fill: var(--color-four);
    background-color: transparent;
    border: none;
}

.show-hint-btn svg {
    height: 1.2rem;
}

.modal-footer {
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid var(--color-four);
}

.apply-modal-btn {
    display: flex;
    flex-direction: row;
    flex-flow: space-around;
    align-items: center;
    margin: 3% 20px;
    font-family: unset;
    color: var(--color-four);
    border: 1px solid var(--color-four);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    fill: var(--color-four);
}

.apply-modal-btn:hover {
    border: 1px solid var(--color-green);
    color: var(--color-green);
    fill: var(--color-green);
}

.apply-modal-btn svg {
    height: 1.2em;
}

#messages {
    overflow-x: hidden;
    height: 92.8vh;
    overflow-y: scroll;
    margin-bottom: 5vh;
}

.message-content img {
    height: 1.4rem;
}

.date img {
    height: 1rem;
}

.assistant-container {
    align-items: end;
    display: flex;
    flex-direction: column;
    align-items: end;
    animation: pop-assistant 0.6s ease-out;
}

.assistant-container .date {
    font-size: small;
    margin-right: 8px;
}

.assistant {
    max-width: 75vw;
    background-color: var(--color-two);
    align-items: end;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    margin: 8px;
}

.user-container {
    align-items: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    animation: pop-user 0.6s ease-out;
}

.user-container .date {
    font-size: small;
    margin-left: 8px;
}

.user {
    max-width: 75vw;
    background-color: var(--color-three);
    align-items: start;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    margin: 8px;
}

#bottom-padding {
    height: 9vh;
}

#form-chat {
    width: 100vw;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    background-color: transparent;
}

#form-inputs {
    z-index: 1;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--color-two);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-one);
    animation: pop-chatinput 0.6s ease-out;
}

#content {
    resize: none;
    overflow-y: auto;
    max-height: 10vh;
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 10px;
    background-color: unset;
    color: unset;
    border: none;
    outline: none;
    width: 100%;
    font-family: unset;
}

#sub-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
}

#send-icon {
    height: 1rem;
    fill: var(--color-four);
}

#input-disabled-msg {
    display: none;
    margin-left: 6%;
    font-size: small;
    color: var(--color-red);
}

.blinking-cursor {
    margin-left: 5px;
    background-color: var(--color-four);
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.1%,
    100% {
        opacity: 0;
    }
}

@keyframes fill {
    0% {
        height: 24px;
    }

    100% {
        height: 54px;
    }
}

@keyframes pop-modal {
    0% {
        translate: 0% -10%;
        opacity: 0%;
    }

    100% {
        translate: 0;
        opacity: 100%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes pop-assistant {
    0% {
        translate: 2%;
        opacity: 0%;
    }

    100% {
        translate: 0;
        opacity: 100%;
    }
}

@keyframes pop-user {
    0% {
        translate: -2%;
        opacity: 0%;
    }

    100% {
        translate: 0;
        opacity: 100%;
    }
}

@keyframes pop-chatinput {
    0% {
        translate: 0% 10%;
        opacity: 0%;
    }

    100% {
        translate: 0;
        opacity: 100%;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(203, 228, 222, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}