:root {
    --color-one: rgb(20, 28, 33);
    --color-two: rgb(15, 76, 117);
    --color-three: rgb(40, 110, 158);
    --color-four: rgb(225, 225, 250);
    --color-four-transparent: rgb(225, 225, 250, .5);
    --color-red: rgb(221, 74, 72);
    --color-green: rgb(182, 227, 136);
    --color-blue: rgb(47, 158, 224);
}

body {
    height: 100dvh;
    margin: 0;
    background-color: var(--color-one);
    color: var(--color-four);
    font-family: 'AR One Sans', sans-serif;
    font-size: 16px;
    overflow: hidden;
}

textarea {
    font-family: 'AR One Sans', sans-serif;
}

select {
    font-family: 'AR One Sans', sans-serif;
}

input {
    font-family: 'AR One Sans', sans-serif;
}

button {
    font-family: 'AR One Sans', sans-serif;
}

a {
    color: var(--color-four);
}

#chat-title {
    height: 7dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-four);
    animation: fadeInUp 0.6s ease-out;
}

#app-title {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#app-logo {
    height: 70%;
    fill: var(--color-two);
}

#title-text {
    font-size: 21px;
    font-weight: normal;
    margin-left: 4px;
}

#settings-btn {
    margin-right: 20px;
    cursor: pointer;
    fill: var(--color-four-transparent);
    height: 1.2rem;
    transition: 200ms ease-in-out;
}

#settings-btn:hover {
    fill: var(--color-four);
}

#delete-chat-btn {
    margin-left: 20px;
    cursor: pointer;
    fill: var(--color-four-transparent);
    height: 1.2rem;
    transition: 200ms ease-in-out;
}

#delete-chat-btn:hover {
    fill: var(--color-four);
}

.modal-container {
    display: none;
    z-index: 7;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    animation: opacity 0.6s ease-out;
}

.modal {
    background-color: var(--color-one);
    max-width: 500px;
    border-radius: 10px;
    animation: fadeInUp 0.6s ease-out;
    box-shadow: 0 0 10px 1px black;
}

.modal-header {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title-container {
    display: flex;
}

.modal-icon {
    height: 1.4rem;
    fill: var(--color-four-transparent);
    align-self: center;
    margin-left: 20px;
}

.modal-header .title-container p {
    font-size: large;
    font-weight: 500;
    margin-left: 10px;
    cursor: default;
}

.close-modal-btn {
    height: 17px;
    cursor: pointer;
    fill: var(--color-four);
    margin-right: 15px;
    margin-top: 13px;
    align-self: baseline;
    transition: 200ms ease-in-out;
    fill: var(--color-four-transparent);
}

.close-modal-btn:hover {
    fill: var(--color-red);
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 20px 20px;
}

.modal-body label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-body label:nth-child(1) {
    margin-top: 0;
}

#model-select {
    background-color: transparent;
    color: var(--color-four);
    border: 1px solid var(--color-four-transparent);
    border-radius: 5px;
    padding: 6px;
    padding-left: 3%;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 100%
}

.select-container::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid var(--color-four-transparent);
    position: relative;
    left: -21px;
    bottom: -14px;
}

#model-select option {
    background-color: var(--color-one);
}

.number-input-container {
    display: flex;
}

.number-input {
    background-color: transparent;
    color: var(--color-four);
    border: none;
    border-bottom: 1px solid var(--color-four-transparent);
    border-top: 1px solid var(--color-four-transparent);
    padding: 7px;
    outline: none;
    text-align: center;
    width: 50px;
    cursor: default;
    height: 16px;
}

.number-step-down-btn,
.number-step-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--color-four-transparent);
    border: 1px solid var(--color-four-transparent);
    cursor: pointer;
    width: 30px;
    transition: 200ms ease-in-out;

    & svg {
        height: 12px;
    }
}

.number-step-down-btn {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.number-step-down-btn:hover {
    border-color: var(--color-red);
    fill: var(--color-red);
}

.number-step-up-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.number-step-up-btn:hover {
    border-color: var(--color-green);
    fill: var(--color-green);
}

.textarea-container {
    border-radius: 5px;
    border: 1px solid var(--color-four-transparent);
    display: flex;
    flex-direction: row;
}

#system-msg-input {
    resize: none;
    background-color: transparent;
    color: unset;
    outline: none;
    overflow-x: auto;
    margin: 10px;
    width: 100%;
    border: none;
    overflow-y: auto;
}

.modal-body .hint {
    margin-top: 4px;
    font-size: small;
    cursor: default;
}

.modal-body .hint .hint-first-word {
    font-weight: 700;
}

.color-selectors {
    display: flex;
    flex-direction: row;
    height: 32px;
}

.select-color-btn {
    cursor: pointer;
    flex-grow: 1;
    padding: 8px 0;
    border: 1px solid var(--color-four-transparent);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-right: 10px;
}

.select-color-btn:nth-last-child(1) {
    margin-right: 0;
}

.color-box {
    flex-grow: 1;
}

#theme-one {
    background-color: rgb(20, 28, 33);
}

#theme-one .color-two {
    background-color: rgb(15, 76, 117);
}

#theme-one .color-four {
    background-color: rgb(225, 225, 250);
}

#theme-one .color-three {
    background-color: rgb(40, 110, 158);
}

#theme-two {
    background-color: rgb(4, 13, 18);
}

#theme-two .color-two {
    background-color: rgb(24, 61, 61);
}

#theme-two .color-four {
    background-color: rgb(225, 225, 250);
}

#theme-two .color-three {
    background-color: rgb(78, 111, 98);
}

#theme-three {
    background-color: rgb(255, 251, 245);
}

#theme-three .color-two {
    background-color: rgb(195, 172, 208);
}

#theme-three .color-four {
    background-color: rgb(39, 39, 39);
}

#theme-three .color-three {
    background-color: rgb(236 226 214);
}

#theme-four {
    background-color: rgb(233, 232, 253);
}

#theme-four .color-two {
    background-color: rgb(133, 189, 191);
}

#theme-four .color-four {
    background-color: rgb(4, 15, 15);
}

#theme-four .color-three {
    background-color: rgb(176 231 226);
}

#info-modal {
    max-width: 340px;
}

.info-modal-text-content {
    text-align: center;
    cursor: default;
}

.remaining-msg-wrapper {
    font-weight: 600;
    margin-top: 8px;
}

.info-modal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 10px 20px;
}

.info-modal-btn {
    cursor: pointer;
    height: 30px;
    width: 80px;
    color: unset;
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.key-input-container {
    border: 1px solid var(--color-four-transparent);
    border-radius: 5px;
    padding: 6px;
    display: flex;
}

.invalid-key {
    border: 1px solid var(--color-red) !important;
}

.valid-key {
    border: 1px solid var(--color-green) !important;
}

.key-input-wrapper {
    width: 100%;
}

#key-input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    color: unset;
}

.key-status-indicator {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
}

#key-status-error {
    display: none;
    fill: var(--color-red);
    height: 1em;
}

#key-status-loading {
    display: none;
    fill: var(--color-four);
    height: 1em;
    animation: fullRotation linear 1s infinite;
}

#key-status-invalid {
    display: none;
    fill: var(--color-red);
    height: 1em;
}

#key-status-valid {
    display: none;
    fill: var(--color-green);
    height: 1em;
}

#info-ok-btn {
    background-color: transparent;
    border: 1px solid var(--color-four);
    margin-left: 5px;
    width: 100%;
}

#info-ok-btn:hover {
    color: var(--color-one);
    background-color: var(--color-four);
}

#delete-modal {
    max-width: 300px;
}

.delete-modal-text-content {
    text-align: center;
    cursor: default;
}

.delete-modal-footer {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 10px 20px;
}

.delete-modal-btn {
    cursor: pointer;
    height: 30px;
    color: unset;
    border-radius: 5px;
    transition: 200ms ease-in-out;
    flex-grow: 1;
}

#confirm-delete {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    margin-right: 5px;
}

#confirm-delete:hover {
    color: var(--color-red);
    background-color: var(--color-four);
}

#cancel-delete {
    background-color: transparent;
    border: 1px solid var(--color-four);
    margin-left: 5px;
}

#cancel-delete:hover {
    color: var(--color-one);
    background-color: var(--color-four);
}

#messages {
    overflow-x: hidden;
    height: 92.8dvh;
    overflow-y: scroll;
    margin-bottom: 5dvh;
}

#update-failed-err-msg {
    text-align: center;
    color: var(--color-red);
    fill: var(--color-red);
    margin-top: 20px;
    animation: fadeInUp 0.6s ease-out;
}

#update-failed-err-msg svg {
    height: 2rem;
}

.message-content {
    max-width: 100%;
    overflow-wrap: break-word;
}

.message-content :first-child {
    margin-top: 0px !important;
}

.message-content :last-child {
    margin-bottom: 0px !important;
}

#loading-message-content {
    color: transparent !important;
    position: relative;
    height: 22px;
    width: 22px;
}

#loading-message-content::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: var(--color-four);
    border-radius: 50%;
    animation: loading-spinner 1s ease infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

.date-container {
    display: flex;
}

.assistant-container .date-container {
    flex-direction: row-reverse;
}

.user:hover+.date-container .delete-msg-btn,
.assistant:hover+.date-container .delete-msg-btn,
.date-container:hover .delete-msg-btn {
    opacity: 100;
}

.delete-msg-btn {
    opacity: 0;
    cursor: pointer;
    font-size: small;
    color: var(--color-red);
    fill: var(--color-red);
    transition: 200ms ease-in-out;
}

.assistant-container .delete-msg-btn::after {
    content: ' Delete';
}

.user-container .delete-msg-btn::before {
    content: 'Delete ';
}

.date {
    cursor: default;
    font-size: small;
    margin: 0 8px;
    fill: var(--color-four);
}

.date img {
    height: 1rem;
}

.info-message {
    border: 1px solid var(--color-blue) !important;
    color: var(--color-blue) !important;
    fill: var(--color-blue) !important;
    background-color: transparent !important;
}

.info-message a {
    cursor: pointer;
    color: var(--color-blue) !important;
}

.info-date {
    color: var(--color-blue) !important;
    fill: var(--color-blue) !important;
}

.error-message {
    border: 1px solid var(--color-red) !important;
    color: var(--color-red) !important;
    fill: var(--color-red) !important;
    background-color: transparent !important;
}

.error-message a {
    cursor: pointer;
    color: var(--color-red) !important;
}

.error-date {
    color: var(--color-red) !important;
    fill: var(--color-red) !important;
}

.assistant-container {
    align-items: end;
    display: flex;
    flex-direction: column;
    align-items: end;
    animation: fadeInRight 0.6s ease-out;
}

.date-icon {
    height: 1em;
    transform: translateY(2px);
}

.assistant {
    max-width: 75dvw;
    background-color: var(--color-two);
    align-items: end;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    margin: 8px;
}

.user-container {
    align-items: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    animation: fadeInLeft 0.6s ease-out;
}

.user {
    max-width: 75dvw;
    background-color: var(--color-three);
    align-items: start;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    margin: 8px;
}

#bottom-padding {
    height: 80px;
}

#form-chat {
    width: 100dvw;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    background-color: transparent;
}

#form-inputs {
    z-index: 1;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--color-two);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-one);
    animation: fadeInDown 0.6s ease-out;
}

#msg-input {
    resize: none;
    overflow-y: auto;
    max-height: 10dvh;
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 10px;
    background-color: unset;
    color: unset;
    border: none;
    outline: none;
    width: 100%;
    height: 22px;
}

#sub-btn {
    height: 18px;
    fill: var(--color-four);
    padding: 10px;
    opacity: 50%;
}

#input-disabled-msg {
    display: none;
    margin-left: 6%;
    font-size: small;
    color: var(--color-red);
    fill: var(--color-red);
}

#scroll-to-bottom {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 10px 1px black;
    height: 30px;
    width: 30px;
    fill: var(--color-four);
    background-color: var(--color-two);
    bottom: 90px;
    right: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 75%;
    animation: opacity-scroll-to-top 250ms ease-in;
    transition: 200ms ease-in-out;
}

#scroll-to-bottom svg {
    height: 18px;
}

#scroll-to-bottom:hover {
    opacity: 100%;
}

@keyframes fill {
    0% {
        height: 24px;
    }

    100% {
        height: 54px;
    }
}

@keyframes fadeInUp {
    0% {
        translate: 0% -25px;
        opacity: 0%;
    }

    100% {
        translate: 0;
        opacity: 100%;
    }
}

@keyframes fadeInDown {
    0% {
        translate: 0% 25px;
        opacity: 0%;
    }

    100% {
        translate: 0;
        opacity: 100%;
    }
}

@keyframes fadeInRight {
    0% {
        translate: 25px;
        opacity: 0%;
    }

    100% {
        translate: 0;
        opacity: 100%;
    }
}

@keyframes fadeInLeft {
    0% {
        translate: -25px;
        opacity: 0%;
    }

    100% {
        translate: 0;
        opacity: 100%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes opacity-scroll-to-top {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 75%;
    }
}

@keyframes fullRotation {
    100% {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-four-transparent);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-four);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media (hover: none) {
    .delete-msg-btn {
        opacity: unset;
    }
}

@media screen and (max-width: 290px) {
    .assistant-container .delete-msg-btn::after {
        content: unset;
    }

    .user-container .delete-msg-btn::before {
        content: unset;
    }
}

@media screen and (max-height: 500px) {
    #chat-title {
        height: 35px;
    }
}

@media screen and (max-width: 510px) {
    #settings-modal {
        max-width: unset;
        height: 100dvh;
        width: 100dvw;
        border-radius: unset;
        border: unset;
        box-shadow: unset;
        overflow-y: scroll;
    }
}

@media screen and (max-height: 710px) {
    #settings-modal {
        border-radius: unset;
        height: 100dvh;
        overflow-y: scroll;
    }
}