<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Evgenii BUSYGIN">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/logo.svg') }}">
		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/stackoverflow-dark.min.css">
		{% endblock %}

	</head>
	<body>
		{% block body %}{% endblock %}
		{% block importmap %}
			{{ importmap() }}
		{% endblock %}
	</body>
</html>
